[Unit]
Description=OS Upgrade
DefaultDependencies=no
Requires=initrd-root-fs.target
After=initrd-root-fs.target
Before=initrd.target

[Service]
Type=oneshot
ExecStart=/bin/execute --upgrade
